html,
body {
  height: 100%;
  width: 100%;
  background-color: #B6EADA;
}

.editDelete {
  float: right;
  margin: 3px;
  padding: 3px 10px;
}
#png {
  margin-right: 10px;
}
#form1 {
  border-radius: 20px;
  background-color: #252340;
  box-shadow: 4px 4px 9px #101212;
  margin: 10px 20px;
}
#table {
  border-radius: 10px;
  background-color: #5B8FB9;
  box-shadow: 4px 4px 9px #2E4F4F;
}
#submitBtn {
  width: 140px;
  background-color: #eef1f7;
  border-color: #293241;
  color: rgb(48, 45, 45);
}
.topBtn {
  background-color: white;
  border-color: white;
  color: #293241;
}   
#navigation {
  background-color: #03001C;
}
#categoryBtn {
  background-color: #293241;
  width: auto;
  border-radius: 7px;
  border: none;
  color: white;
}
#category {
  width: 300px;
}
.input-group-text {
  background-color: #293241;
  color: white;
  border: none;
  margin: 0.1px 0.1px;


}
#description {
  width: 4000px;
}

.trStyle {
  background-color: transparent;
}
#categoryBtn:hover,
#submitBtn:hover,
.editDelete:hover {
  background-color: #ffffff;
  color: #293241;
  border-color: #293241;
}
.topBtn:hover {
  background-color: #3d5a80;
  color: white;
  border-color: #3d5a80;
}
.editDelete {
  background-color: #293241;
  border: none;
}

#tableHead {
  background-color: #03001C ;
  color: white;
}
.page-link {
  background-color: #3d5a80;
  color: white;
}
.page-link:hover {
  background-color: #d2eaf7;
  color: #233b64;
} 





